@import "./node_modules/bootstrap/scss/bootstrap";

body {
  background-color: lightblue;
  font-family: CourierNew;
}

#AboutMe {
  text-align: center;
  background-color: lightgreen;
  width: 800px;
  margin: 0 auto;
  border: dashed 5px;
}

table, th {
  text-align: center;
  border-spacing: 2px;
  border: 2px solid black;
}

.card {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 180px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  text-align: center;
}

.center {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}
