body {
  background-color: lightblue;
  font-family: CourierNew;
}

#AboutMe {
  background-color: lightgreen;
  width: 800px;
  margin: 0 auto;
  border: dashed 5px;
}

table, th {
  border-spacing: 2px;
  border: 2px solid black;
}
